/* About page specific styles */
html, body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
   height: 100%;
}

.about-container {
  display: flex;
  min-height: 100vh; /* container at least full viewport */
  width: 100%;
}

/* Left image scrolls with content */
.about-image-wrapper {
  flex: 0 0 30vw;   /* 40% width */
  height: auto;      /* grows with content */
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: translateX(-50px); /* start slightly left */
  opacity: 0;
  animation: slideInLeft 1s ease forwards;
  animation-delay: 0.3s;
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Right text */
.about-text {
  flex: 1;
  margin-left: 0vw; /* match image width */
  padding: 40px;
  font-size: 20px;
  line-height: 1.7;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 0.3s; /* small delay */
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-text h2 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #1a535c;
}

.about-text p {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 25px
}

footer {
 margin: 0;   /* remove extra space */
  padding: 18px 10px;
  background-color: #004d80;
  color: white;
  text-align: center;
}