body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  margin: 0;
  padding: 0;
}

.main-title h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.guidelines-box {
  display: flex;
  background: rgb(219, 241, 247);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 50px rgba(0,0,0,0.15);
  margin: 20px auto;
  width: 90%;
  max-width: 2000px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 5px solid #303030;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s ease forwards;
}

.guidelines-box.first { animation-delay: 0.2s; }
.guidelines-box.second { animation-delay: 0.4s; }
.guidelines-box.third { animation-delay: 0.6s; }
.guidelines-box.fourth { animation-delay: 0.8s; }
.guidelines-box.fifth { animation-delay: 1s; }

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.guidelines-box img {
  width: 160px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

.guidelines-box .evac-plan {
    width: 70%;
    max-width: 900px; 
    display: block;
}

.guidelines-box .evac-plan + .photo-caption {
    width: 100%;
    text-align: center;
}

.photo-caption {
  font-size: 10px;
  text-align: center;
  margin-top: 4px;
  width: 280px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.guidelines-text h3 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
}

.guidelines-text p {
  line-height: 1.6;
  font-size: 20px;
}

hr {
border: none;
height: 3px;
background: linear-gradient(to right, #ffd166, #004d80);
margin: 8px 0;
border-radius: 5px;
}
